<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">

	<context-param>  
	    <param-name>contextConfigLocation</param-name>  
	    <param-value>classpath:conf/spring-mybatis.xml</param-value>
	</context-param>   
	<context-param>  
	    <param-name>contextConfigLocation</param-name>  
	    <param-value>classpath:conf/spring-aop.xml</param-value>
	</context-param> 
	
	
	 <!--  Spring监听器，启动mvc 时同时启动其他xml  	 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- 	防止Spring内存溢出监听器 -->
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener> 
	
	
	
	
	<!-- spring-mvc Servlet -->
	<servlet>
		<!-- 注册主Servlet -->
		<servlet-name>springmvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!-- 设置初始化属性 Servlet启动时，自动加载bean容器 -->
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:conf/spring-*.xml</param-value>
		</init-param>
		<!-- 设置优先级，tomcat启动时自动初始化该Servlet -->
		<load-on-startup>1</load-on-startup>
	</servlet>
	<!-- 设置servlet映射 -->
	<servlet-mapping>
		<servlet-name>springmvc</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	
	
	<!-- 配置编码过滤器，防止乱码 -->
	<filter>
		<filter-name>encoding</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<!-- 初始参数,设定字符集 -->
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encoding</filter-name>
		<url-pattern>*</url-pattern>
	</filter-mapping>


</web-app>